body,html{
  height:100%;
  margin:0;
}
.headingOpacity{
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
	opacity: 0.5;
  -webkit-transition: opacity 2s;
  transition: opacity 2.5s;
}

.gallery1{
  -webkit-filter: grayscale(80%); 
  filter: grayscale(80%);
  opacity: 0.5;
  -webkit-transition: opacity 2s;
  transition: opacity 2.5s;
}
.headingGroup h1{
	font-size: 5rem;
}

.headingGroup p{
	font-size: 1.5rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    /*border:solid red 1px;*/
    width:100%;   
}

#mainNavbar .nav-link {
    color: black;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}


/*body{background-color:#000; overflow:hidden;}*/

.scroll-down {
	position: relative;
	left: 50%;
	bottom: 10%;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  background:white;
}
.media .img-thumbnail{
  height:64px;
  width: 64px;
}

.bgimg-1{
  background-image:url("../imgs/sakura.jpg");
  min-height:100%;
}
.bgimg-2{
  background-image:url("../imgs/sakura_2.jpg");
  min-height:100%;
}
.bgimg-1, .bgimg-2{
  position:relative;
  opacity:0.65;
  background-attachment:fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  box-shadow: 0 0 8px 8px white inset;
}
.cap{
  padding:10%;
  /*margin:10%;*/
  height:100%;
  color:#000 !important;
  /*border:solid 1px red;*/
}
.caption{
  position:absolute;
  left:0;
  top:50%;
  width:100%;
  /*margin:10% 0;*/
  /*border:solid 1px green;*/
}

.card .card-img-top:hover{
  opacity:0.6;
}